@import url('./rest.scss');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.body {
  font-family: 'inter';
  font-weight: 500;
  font-size: 16px;
  width: 100%;

  display: flex;
  justify-content: center;
  
  background: #F5F5F7;
  position: relative;

  .body-container {
    display: block;
    justify-content: center;
    width: 100%;
    height: 100%;

  
  .header {
    margin-top: 16px;
    width: 1576px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
  
  
    .header-container {
      display: flex;
      justify-content: center;
  
    .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 12px;
  
      .strelka {
        padding: 14px 11px;
        border-radius: 6px;
        background: #F5F5F7;
      }
    }
  
    .navbar {
      padding: 16px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 70px;
    }
  
    .location {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 12px;
    }
    .country {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 8px;
    }
    .navigate {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 48px;
    }
    .contacts {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 13px;
    }
    .header-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 10px;
      position: relative;

  
      .icons1 {
        padding: 18px;
        border: 1.5px solid #dbdbde;
        border-radius: 15px;
  
      }
      .icons2 {
        padding: 22.5px 20px;
        border: 1.5px solid #dbdbde;
        border-radius: 15px;
  
      }
      .icons3 {
        padding: 20px;
        border: 1.5px solid #dbdbde;
        border-radius: 15px;
  
      }
      
      .carts {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        padding: 20px;
        border: 1.5px solid #dbdbde;
        border-radius: 15px;
        column-gap: 10px;
        color: #686870;

        p {
          margin-top: 3px;
        }
        
      }

      .carts:active {
        margin-top: 2px;
      }

      .cart {
        position: absolute;
        right: -30px;
        top: 100px;
        width: 590px;
        z-index: 2000;
        background: white;
        border-radius: 12px;
        
        .cart-container {
          height: 100%;
          width: 530px;
          // padding: 0 30px;
          margin-left: 30px;

          .cart-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 31px 0 24px 0 ;


            p {
              color: #1D1D1F;
              font-weight: 700;
              font-size: 28px;
            }

            img {
              background: #F5F5F7;
              border-radius: 8px;
              padding: 6px;

            }
          }

          .cart-item-container {
            margin-bottom: 12px;
            
            
            .cart-item {
              padding: 0 20px;
              border-radius: 12px;
              background: #F5F5F7;
              display: flex;
              justify-content: space-between;
              height: 71px;
              margin: 12px 0;
              

              .item-container1 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 10px;

                .item-img1 {
                  background: #FFFFFF;
                  border-radius: 8px;
                  padding: 6px;
                }

                .item-img1:hover {
                  background: #F44837;
                }

                .item-img1:active {
                  margin-top: 2px;
                }

                .item-img2 {
                  width: 58px;
                  height: 47px;
                }

                h3 {
                  color: #1D1D1F;
                  font-weight: 700;
                  font-size: 16px;
                }

                p {
                  font-weight: 500;
                  font-size: 14px;
                  color: #FF6633;
                }
              }

              .item-container2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 8px;

                h3 {
                  color: #1D1D1F;
                  font-weight: 500;
                  font-size: 14px;
                  margin-right: 10px;
                }

                p {
                  color: #1D1D1F;
                  font-weight: 500;
                  font-size: 14px;
                }

                button {
                  width: 32px;
                  height: 32px;
                  border-radius: 8px;
                  background: white;
                }

                button:hover {
                  background: #F44837;
                }

                button:active {
                  margin-top: 3px;
                }
              }

            }
          }

          .cart-info {
            margin: 30px 0 10px 0;
           p {
            color: #FF6633;
            font-weight: 500;
            font-size: 14px;
           }
          }

        }
        .cart-footer {
          width: 590px;
          height: 112px;
          background: #F5F5F7;
          border-radius: 0 0 12px 12px;
          display: flex;
          align-items: center;
          
          .cart-footer-container {
            height: 64px;
            width: 530px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 30px;

            .footer-container1 {
              

              h6 {
                color: #9E9E9E;
                font-weight: 400;
                font-size: 14px;
              }

              div {
                display: flex;
                column-gap: 10px;
                align-items: end;
                div {
                  color: #1D1D1F;
                  font-weight: 700;
                  font-size: 32px;
                  
                } 
                p {
                  bottom: 2px;
                  left: 100px;
                  color: #828282;
                  font-weight: 600;
                  font-size: 25px;
                }
              }
            }

            .footer-container2 {

              button {
                color: #FFFFFF;
                font-weight: 500;
                font-size: 16px;
                background: #00CC2D;
                border-radius: 12px;
                padding: 16px 25px;
              }
            }
            
            
          }
        }

      }
    }
  }
  }
  
  .category {
    position: sticky;
    top: 10px;
    z-index: 1000;
    margin-top: 16px;
    width: 816px;
    height: 95px;
    border-radius: 12px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;


    .category-container {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      
      .category-box {
        text-align: center;
        display: block;
        justify-content: center;
        padding: 5px 10px;

        
        
        
        
        .category-icons {
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          text-align: center;
          align-items: center;
          margin-left: auto;
    margin-right: auto;
        }
      }
      //  .category-box:hover {
      //   background: rgba(228, 228, 228, 0.825);
      //   border-radius: 12px;
      // }

      .active {
        background: rgba(228, 228, 228, 0.825);
        border-radius: 12px;
      }
      }
  }


  .menu-box {
    width: 1576px;
    display: block;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    

    .menu-title {
      color: #1D1D1F;
      font-weight: 700;
      font-size: 48px;
      margin-bottom: 32px;
      margin-top: 124px;
    }
    
    .menu {
      display: inline-block;
      margin-right: 15px;
      
      div :last-child {
        margin-right: 0px;
      }
      
      
      
      
      
      .menu-container {
        margin-left: auto;
        margin-right: auto;
        align-items: center;

       
    
          
    
          .menu-title {
            color: #1D1D1F;
            font-weight: 700;
            font-size: 48px;
            margin-bottom: 32px;
          }
      
          .menu-items {
            width: 379px;
            height: 596px;
            background: #FFFFFF;
            border-radius: 12px;
            margin-bottom: 12px;
        
            .item {
              width: 379px;
              height: 596px;
              position: relative;
              
              .foto-block {
                position: absolute;
                padding: 24px 24px 10px 24px;
                position: relative;
        
                .foto-title {
                  position: absolute;
                  display: flex;
                  column-gap: 6px;
                  
        
                  // :first-child {
                  //   position: absolute;
                  //   background: #FBDCD5;
                  //   border-radius: 12px;
                  //   color: #FF6633;
                  //   font-weight: 500;
                  //   font-size: 18px;
                  //   left: 0px;
                  // }

                  
                  .foto-title1 {
                    // position: absolute;
                      background: #FBDCD5;
                      padding: 6px 10px;
                      border-radius: 12px;
                      color: #FF6633;
                      font-weight: 500;
                      font-size: 18px;
                      left: 0px;
                   }
                  
                   .foto-title2 {
                    // position: absolute;
                    background: #CCF5D5;
                    padding: 6px 10px;
                    border-radius: 12px;
                    color: #00CC2D;
                    font-weight: 500;
                    font-size: 18px;
                      left: 50px;
                  }
                }
        
                .foto {
                  position: absolute;
                  top: 25px;
                }
                
        
                .icons {
                  position: absolute;
                  margin-top: 234px;
                  left: 24px;
                  top: 70px;
        
                  .icons1 {
                    left: 50px;
                  }

                  .icons2 {
                    margin-left: 7px;
                  }

                  .icons3 {
                    margin-left: 4px;
                  }

                }
        
              }
              .item-title {
                position: absolute;
                padding: 0 24px 24px 24px;
                top: 370px;
                
                h2 {
                  position: absolute;
                  font-weight: 700;
                  font-size: 27px;
                  top: -35px;
                  width: 330px;
                }
                
                .item-ves {
                  position: absolute;
                  font-weight: 500;
                  font-size: 18px;
                  color: #FF6633;
                  margin-top: 13px;
                  top: 20px;
                }
                
                p {
                  position: absolute;
                  top: 45px;
                  color: #686870;
                  font-weight: 400;
                  font-size: 16px;
                  margin-top: 13px;
                  width: 330px;
                }
              }
        
              .item-func {
                position: absolute;
                top: 470px;
                left: 24px;
                bottom: 24px;
                margin-top: 48px;
                display: flex;
                justify-content: space-between;
                padding: 0 24px 0 24px;
        
                .item-price {
                  position: absolute;
                  left: 0px;
                  display: flex;
                  align-items: first baseline;
                  column-gap: 5px;
        
                  
                  h3 {
                    position: absolute;
                    color: #1D1D1F;
                    font-weight: 700;
                    font-size: 40px;
                    
                  }
                  
                  p {
                    top: 14px;
                    left: 85px;
                    position: absolute;
                    color: #686870;
                    font-size: 25px;
                    font-weight: 700;
                  }
                }
                .item-action {
                  position: absolute;
                  
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  column-gap: 12px;
        
                  img {
                    position: absolute;
                    left: 190px;
                    top: 0px;
                    padding: 15px 13px;
                    background: #F5F5F7;
                    border-radius: 12px;
                  }
        
                  p {
                    left: 250px;
                    top: 0px;
                    position: absolute;
                    align-items: center;
                    padding: 4px 20px 9px 20px;
                    background: #CCF5D5;
                    border-radius: 12px;
                    color: #00CC2D;
                    font-size: 30px;
                  }
                }
              }
            }
          }
        }
      }
  }
  
  .map {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 124px;
    width: 100%;
    background: #FFFFFF;


    .map-container {
      width: 100%;

      .map-title {
        display: flex;
        justify-content: center;
        text-align: center;
        color: #1D1D1F;
        font-weight: 700;
        font-size: 48px;
        margin: 88px 0;
      }
    }
  }

  .info-title {
    margin-top: 1024px;
    color: #9E9E9E;
    font-weight: 400;
    font-size: 16px;
    display: block;
    text-align: center;
    margin-bottom: 100px;
    position: relative;

    p {
      position: absolute;
      right: 400px;
      margin-top: 8px;
      color: #00CC2D;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        margin-left: 5px;

      }
    }
  }
  .footer-container {
    position: absolute;
    left: 0;
    right: 0;

    .footer-box {
      display: flex;
      justify-content: space-between;
      margin: 76px 172px;

      .footer-box1 {
        
        .footer-box1-logo {
        
        img {
          object-fit: cover;
          width: 246px;
          height: 59px;
        }
      }

        .footer-box1-icons {
          display: flex;
          column-gap: 15px;
          margin-top: 25px;
        }
       
        p {
          padding-top: 16px;
          color: #9E9E9E;
          font-weight: 500;
          font-size: 14px;
        }
      }

      .footer-box2 {
        h5 {
          color: #686870;
          font-weight: 400;
          font-size: 14px;
          margin-bottom: 12px;
        }
        
        p {
          color: #1D1D1F;
          font-weight: 500;
          font-size: 16px;
          margin-bottom: 8px;
        }
      }
      
      .footer-box3 {
        h5 {
          color: #686870;
          margin-bottom: 12px;
        }
        p {
          color: #1D1D1F;
          font-weight: 500;
          font-size: 16px;
          margin-bottom: 8px;
        }
      }
      .footer-box4 {
        h5 {
          color: #686870;
          margin-bottom: 12px;
        }
        p {
          color: #1D1D1F;
          font-weight: 500;
          font-size: 16px;
          margin-bottom: 8px;
        }
      }
      .footer-box5 {
        
        h5 {
          color: #686870;
          margin-bottom: 12px;
        }

        .footer-box5-icons {
          display: flex;
          column-gap: 12px;
          margin-bottom: 18px;
        }

        .footer-box5-box {
          display: flex;
          column-gap: 12px;
          padding: 14px;
          background: #F5F5F7;
          border-radius: 12px;
        }
      }

      .footer-box6 {
        
        h5 {
          color: #1D1D1F;
          font-weight: 700;
          font-size: 42px;
          margin-bottom: 10px;
        }

        p {
          color: #9E9E9E;
          font-weight: 400;
          font-size: 16px;
          margin-bottom: 18px;
        }
        h6 {
          color: #00CC2D;
          font-weight: 400;
          font-size: 16px;
          background: #F5F5F7;
          border-radius: 12px;
          padding: 16px 42px;
        }
      }

    }
    .footer-footer {
      display: flex;
      justify-content: space-between;
      margin: 76px 172px;
    }
  }
}
}
